.body{
    background-color: teal;
    width: 100%;
    height: 760px;
    
}
.title h1{
    color: red;

}
.title p{
    color: black;
}
.title {
    background-color: teal;
    width: 100%;
    padding-bottom: 1%;


}
.norhan{
    color: black;
    background-color: rgb(180, 204, 248);
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.img{

    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.nor{
    color: black;
    background-color: rgb(180, 204, 248);
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.php{
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.para{
    color: black;
    background-color: rgb(180, 204, 248);
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.photo{
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.mony{
    color: black;
    background-color: rgb(180, 204, 248);
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.rahma{
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.amira{
    color: black;
    background-color: rgb(180, 204, 248);
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.hanen{
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.malk{
    color: black;
    background-color: rgb(180, 204, 248);
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}
.habeba{
    float: left;
    width: 25%;
    height: 217px;
    outline: 1px solid blue;

}